.DS_Store
.
**/.DS_Store
**/.*
**/__pycache__
!.gitignore
env_loc.txt
presentations/
presentations/*
test/
.venv/
results/**
results/*
!results/run.py
data_clean/
**/data/*
**/final_data/*
**/forest_results/*
**/figures_UMAP/
dist/
tox21_models.egg-info/
